<server description="new server">

  <!-- Enable features -->
  <featureManager>
    <feature>localConnector-1.0</feature>
    <feature>jpaContainer-2.2</feature>
    <feature>servlet-4.0</feature>
    <feature>beanValidation-2.0</feature>
    <feature>jsp-2.3</feature>
    <feature>cdi-2.0</feature>
    <feature>jndi-1.0</feature>
    <feature>jaxrs-2.1</feature>
    <feature>mpMetrics-2.3</feature>
    <feature>mpHealth-2.2</feature>
  </featureManager>

  <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint">
    <accessLogging/>
  </httpEndpoint>

  <applicationManager autoExpand="false"/>
  <applicationMonitor updateTrigger="mbean"/>

  <monitor filter="JVM,ThreadPool,WebContainer,Session,ConnectionPool,REST"/>
  <mpMetrics authentication="false"/>

  <dataSource isolationLevel="TRANSACTION_READ_COMMITTED" jndiName="jdbc/postgres" supplementalJDBCTrace="true">
    <jdbcDriver>
      <library>
        <fileset dir="/Users/hiro/dev/postgres" includes="postgresql-42.2.14.jar"/>
      </library>
    </jdbcDriver>
    <properties databaseName="mydb" portNumber="5432" serverName="localhost"/>
  </dataSource>

  <jpa defaultJtaDataSourceJndiName="jdbc/postgres" defaultNonJtaDataSourceJndiName="jdbc/postgres" defaultPersistenceProvider="org.eclipse.persistence.jpa.PersistenceProvider"/>

  <webApplication contextRoot="/" id="sentence-diagram-web" location="sentence-diagram-web.war" name="sentence-diagram-web"/>

  <keyStore password="password"></keyStore>
</server>
