target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/.apt_generated/
/.apt_generated_tests/


.classpath
.factorypath
.project
.settings/

node_modules/
package-lock.json

.vscode
bundle.js

vue-client/public/*
!browserconfig.xml
!favicon.ico
!icon.png
!index.html
!manifest.json
!site.webmanifest
!tile-wide.png
!tile.png

server/sentence-diagram-web/src/main/webapp/*.woff2
server/sentence-diagram-web/src/main/webapp/*.woff
server/sentence-diagram-web/src/main/webapp/*.svg
server/sentence-diagram-web/src/main/webapp/*.eot
server/sentence-diagram-web/src/main/webapp/*.ttf
server/sentence-diagram-web/src/main/webapp/*.png
server/sentence-diagram-web/src/main/webapp/*.xml
server/sentence-diagram-web/src/main/webapp/*.ico
server/sentence-diagram-web/src/main/webapp/*.webmanifest
server/sentence-diagram-web/src/main/webapp/*.html
server/sentence-diagram-web/src/main/webapp/*.json
