/* フォーカスがある時の枠線を消す(デフォルトCSS) */
input,
button {
  outline: none;
}

body {
  background: #e5e5e5;
  font-family: Helvetica, Arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  margin: 0 0 0 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  z-index: 1;
}

.logo {
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
  grid-column: 1 / 2;
  display: flex;
}

.logo1 {
  border-color: #4169e1;
  border-style: solid;
  color: #4169e1;
  font-family: sans-serif;
  width: 100px;
  height: 26px;
  text-align: center;
  top: 8px;
  line-height: 24px;
  float: left;
  letter-spacing: 0.15em;
  border-radius: 30px 0 0 30px / 30px 0 0 30px;
}

.logo2 {
  border-color: #4169e1;
  border-style: solid;
  background-color: #4169e1;
  color: white;
  font-family: sans-serif;
  width: 100px;
  height: 26px;
  text-align: center;
  top: 8px;
  line-height: 24px;
  left: 200px;
  float: left;
  letter-spacing: 0.15em;
  border-radius: 0 30px 30px 0 / 0 30px 30px 0;
}

.search-frame {
  position: absolute;
  top: 8px;
  left: 0%;
  right: 0%;
  /*
  left: 300px;
  width: 550px;
  */
  height: 30px;
  border-radius: 5px;
  background: #fff;
  font-size: 15px;
  color: #000;
  border-style: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.07);
  grid-column: 2 / 4;
  display: flex;
}

.textbox {
  position: absolute;
  top: 0;
  left: 15px;
  width: 500px;
  height: 30px;
  background: #fff;
  font-size: 15px;
  color: #000;
  border-style: none;
  background-color: transparent;
}

.search-button {
  position: absolute;
  right: 0;
  top: -1px;
  width: 33px;
  height: 32px;
  color: #4169e1;
  background-color: transparent;
  font-size: 15px;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 48px;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 10px;
}

.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.card-link a:hover {
  color: #0090aa;
}
