/* フォーカスがある時の枠線を消す(デフォルトCSS) */
input,
button {
  outline: none;
}

body {
  background: #e5e5e5;
  font-family: Helvetica, Arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  margin: 0 0 0 0;
}

.main {
  /*
  display: grid;
  grid-template-columns: 100px, 1fr;
  grid-gap: 20px;
  */
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 48px;
}

.columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: balance;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  display: inline-block;
  margin: 0 2px 15px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 10px;
}

.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.card-id {
  color: gray;
  text-align: right;
}

.card-link a:hover {
  color: #0090aa;
}

@media screen and (max-width: 400px) {
  .columns {
    column-count: 1;
  }

  .main {
    padding: 10px 10px 10px 10px;
  }
}
